<template>
    <div class="page no-swipeback">

        <div class="navbar">
            <div class="navbar-inner">
                <div class="title left">
                    <img class="ios-only theme-light-only" src="assets/custom/img/logo-text-black.svg" height="42"
                         alt=""/>
                    <img class="ios-only theme-dark-only" src="assets/custom/img/logo-text-white.svg" height="42"
                         alt=""/>
                    <img class="md-only" src="assets/custom/img/logo-text-white.svg" height="42" alt=""/>
                </div>
                <div class="right">
                    <a href="#" class="link icon-only" @click="openLanguageSelector">
                        <i class="icon material-icons">language</i>
                    </a>
                    <a href="#" class="link icon-only" @click="openThemeSelector">
                        <i class="icon material-icons">palette</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-content">

            <div class="credit-calculator">
                <div class="calculator-container">
                    <div class="calculator-content">
                    </div>
                </div>
            </div>

            <div class="card-header justify-content-center margin-top">
                <i class="fa-stack">
                    <span class="fas fa-square fa-stack-2x text-color-blue ios-only"></span>
                    <span class="fas fa-circle fa-stack-2x text-color-blue md-only"></span>
                    <span class="fas fa-info fa-stack-1x fa-inverse"></span>
                </i>
                <span>&ensp;</span>
                <span class="text-uppercase text-bold color-red-9">ПЕРЕВАГИ</span>
            </div>

            <div class="list media-list no-hairlines no-hairlines-between margin-vertical">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img src="assets/custom/img/al-home-1.svg" width="68" alt=""/>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Автомобіль залишається у вас</div>
                                </div>
                                <div class="item-text">Продовжуйте користування власним авто!</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img src="assets/custom/img/al-home-2.svg" width="68" alt=""/>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Швидке оформлення</div>
                                </div>
                                <div class="item-text">Отримуйте гроші в день звернення.</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img src="assets/custom/img/al-home-3.svg" width="68" alt=""/>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">До 50 000 грн.</div>
                                </div>
                                <div class="item-text">Максимальний розмір кредиту 50 000 грн.</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media">
                                <img src="assets/custom/img/al-home-4.svg" width="68" alt=""/>
                            </div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Низька ставка</div>
                                </div>
                                <div class="item-text">Один з найнижчих відсотків по кредиту.</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="decorative-block"></div>

            <div class="row margin-top justify-content-center">
                <p>
                    <span class="text-uppercase text-bold">ЗАЛИШИЛИСЯ ПИТАННЯ?</span>
                </p>
            </div>

            <div class="block margin-top inset">
                    <a href="tel:+380800300902" class="external">
                    <button class="button button-big button-fill bg-color-red-9 text-bold">0 800 300 902</button>
                    </a>
            </div>

            <div class="block-title">Кредит під заставу автомобіля</div>
            <div class="block inset">
                <p>– це доступний засіб отримання грошей на будь-які потреби.
                    Основні його переваги очевидні: швидка видача необхідної суми,
                    відсутність поручителів і нескінченних формальностей.
                    Від вас буде потрібно саме авто і мінімальний пакет документів, а саме:
                    ІПН, технічний паспорт і паспорт громадянина України.
                    Головна перевага нашого кредитування під заставу авто
                    – Ви маєте можливість продовжувати користуватися ним.</p>
            </div>

            <div class="block-title">ПРОСТІ КРОКИ ДЛЯ ОТРИМАННЯ КРЕДИТУ<br>
                ПІД ЗАСТАВУ АВТО НА СТОЯНЦІ ЛЕГКО І ДОСТУПНО:</div>
            <div class="block block-strong">
                <div class="timeline timeline-vertical">
                    <div class="timeline-item">
                        <div class="timeline-item-date">1 <small>КРОК</small></div>
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-inner">ЗАПОВНІТЬ ЗАЯВКУ</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-date">2 <small>КРОК</small></div>
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-inner">ПРОРАХУЙТЕ НЕОБХІДНУ СУМУ І ТЕРМІН</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-date">3 <small>КРОК</small></div>
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-inner">ПОКАЖІТЬ СВІЙ АВТОМОБІЛЬ НАШОМУ КРЕДИТНОМУ ФАХІВЦЕВІ</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-date">4 <small>КРОК</small></div>
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-inner">ОТРИМАЙТЕ РІШЕННЯ ЩОДО КРЕДИТУ ПРОТЯГОМ 15 ХВИЛИН</div>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-item-date">5 <small>КРОК</small></div>
                        <div class="timeline-item-divider"></div>
                        <div class="timeline-item-content">
                            <div class="timeline-item-inner">ОТРИМАЙТЕ КОШТИ ГОТІВКОЮ АБО НА КАРТУ!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block margin-top inset">
                <a href="#" @click="openPopup">
                    <button class="button button-big button-fill bg-color-red-9 text-bold">ОТРИМАТИ КОШТИ</button>
                </a>
            </div>

            <div class="block inset">
                <p>УМОВИ КРЕДИТУ У ДАНОМУ ПАКЕТІ ТАКІ, ЩО ПІСЛЯ ВИДАЧІ ГОТІВКИ АВТОМОБІЛЬ ЗАЛИШАЄТЬСЯ У ВАШОМУ
                    ПОВНОМУ РОЗПОРЯДЖЕННІ. ІНАКШЕ КАЖУЧИ, ВИ ОТРИМУЄТЕ ПОТРІБНУ СУМУ, ЗАЛИШАЮЧИ АВТО ПРИ СОБІ!</p>
            </div>

            <div class="card">
                <div class="card-header">Приклад розрахунку кредиту під заставу автомобіля</div>
                <div class="card-content card-content-padding">
                    <p><i>Договір укладається від 2 місяців до 1 року з правом продовження і дострокового погашення без штрафних санкцій<br>
                        Мінімальна сума позики 10 000 грн.</i><br><br>
                        <b>Приклад розрахунку:</b><br>
                        Сума: 10 000 грн.<br>
                        Термін кредиту 2 місяці<br>
                        Річна процентна ставка: від 36%<br>
                        </p>
                </div>
                <div class="card-footer">Загальна переплата за 2 місяці без урахування тіла кредиту: 600 грн.<br>
                    Загальна сума платежів за 2 місяці з урахуванням відсотків і тіла 10 600 грн.</div>
            </div>

            <div class="block margin-top inset ">
            <div class="item-inner">
                <div class="card-header justify-content-center margin-top">
                    <a href="#" target="_blank" class="external">
                        <i class="fa-stack">
                            <span class="fas fa-square fa-stack-2x brand-color-facebook ios-only"></span>
                            <span class="fas fa-circle fa-stack-2x brand-color-facebook md-only"></span>
                            <span class="fab fa-facebook-f fa-stack-1x fa-inverse"></span>
                        </i>
                    </a>
                    <a href="#" target="_blank" class="external">
                        <i class="fa-stack">
                            <span class="fas fa-square fa-stack-2x brand-color-twitter ios-only"></span>
                            <span class="fas fa-circle fa-stack-2x brand-color-twitter md-only"></span>
                            <span class="fab fa-twitter fa-stack-1x fa-inverse"></span>
                        </i>
                    </a>
                    <a href="#" target="_blank" class="external">
                        <i class="fa-stack">
                            <span class="fas fa-square fa-stack-2x brand-color-linkedin ios-only"></span>
                            <span class="fas fa-circle fa-stack-2x brand-color-linkedin md-only"></span>
                            <span class="fab fa-linkedin-in fa-stack-1x fa-inverse"></span>
                        </i>
                    </a>
                    <a href="#" target="_blank" class="external">
                        <i class="fa-stack">
                            <span class="fas fa-square fa-stack-2x brand-color-youtube ios-only"></span>
                            <span class="fas fa-circle fa-stack-2x brand-color-youtube md-only"></span>
                            <span class="fab fa-youtube fa-stack-1x fa-inverse"></span>
                        </i>
                    </a>
                </div>
            </div>
            </div>
        </div>
<!--        end page content-->
<!--        start popup content-->
        <div class="fab fab-right-bottom md-only">
            <a href="#" @click="openPopup" class="bg-color-red-9">
                <i class="icon material-icons ">monetization_on</i>
            </a>
        </div>

        <div class="popup popup-tablet-fullscreen popup-contact">
            <div class="view">
                <div class="page">

                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="left ios-only">
                                <a href="#" class="link popup-close" data-popup=".popup-contact">
                                    <span data-i18n="cancel">Cancel</span>
                                </a>
                            </div>
                            <div class="title" data-i18n="get credit">Отримати Готівку</div>
                            <div class="right ios-only">
                                <button type="submit" class="button link" form="contact" data-i18n="send">Send</button>
                            </div>
                            <div class="right md-only">
                                <a href="#" class="link icon-only popup-close" data-popup=".popup-contact">
                                    <i class="icon material-icons">close</i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="page-content">

                        <form id="contact" name="contact" action="#" method="POST" enctype="multipart/form-data">
                            <div class="list no-hairlines no-hairlines-between">
                                <ul>
                                    <li>
                                        <div class="item-content item-input item-input-with-info">
                                            <div class="item-media">
                                                <i class="icon f7-icons ios-only">person</i>
                                                <i class="icon material-icons md-only">person</i>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title item-floating-label" data-i18n="name">Ім'я</div>
                                                <div class="item-input-wrap">
                                                    <input type="text" name="name" required/>
                                                    <div class="item-input-info input-error-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input item-input-with-info">
                                            <div class="item-media">
                                                <i class="icon f7-icons ios-only">email</i>
                                                <i class="icon material-icons md-only">email</i>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title item-floating-label">Email</div>
                                                <div class="item-input-wrap">
                                                    <input type="email" name="email" required/>
                                                    <div class="item-input-info input-error-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input item-input-with-info">
                                            <div class="item-media">
                                                <i class="icon f7-icons ios-only">phone</i>
                                                <i class="icon material-icons md-only">phone</i>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title item-floating-label">Ваш номер телефона</div>
                                                <div class="item-input-wrap">
                                                    <input type="numpad" required />
                                                    <div class="item-input-info input-error-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input item-input-with-info">
                                            <div class="item-media">
                                                <i class="icon f7-icons ios-only">money_dollar</i>
                                                <i class="icon material-icons md-only">monetization_on</i>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title item-floating-label">Сума</div>
                                                <div class="item-input-wrap">
                                                    <input type="numpad" required />
                                                    <div class="item-input-info input-error-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input item-input-with-info">
                                            <div class="item-media">
                                                <i class="icon f7-icons ios-only">timer</i>
                                                <i class="icon material-icons md-only">timer</i>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title item-floating-label">Термін у днях</div>
                                                <div class="item-input-wrap">
                                                    <input type="numpad" required />
                                                    <div class="item-input-info input-error-message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="block md-only">
                                <button type="submit" class="button button-big button-fill" data-i18n="order">Замовити
                                </button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
<!--        end popup content-->
    </div>
</template>

<style scoped>
    .credit-calculator .calculator-container {
        height: 80vh;
        background-image: url("assets/custom/img/temp-calc-bg-mob-min.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .credit-calculator .swiper-slide {
        box-sizing: border-box;
        padding: 16px;
    }

    .credit-calculator .calculator-content {
        align-items: center;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 16px;
        text-align: center;
        width: 100%;
    }

    .credit-calculator .slide-media {
        height: 56px;
    }

    .credit-calculator .slide-title {
        font-size: 22px;
        margin-top: 8px;
    }

    .credit-calculator .slide-text {
        font-size: 15px;
        margin-top: 8px;
    }

    .credit-calculator .slide-actions {
        margin-top: 16px;
    }

    .calculator-container-3d .swiper-slide-shadow-left {
        background-image: none;
    }

    .calculator-container-3d .swiper-slide-shadow-right {
        background-image: none;
    }

    .decorative-block{
        height: 30vh;
        background-image: url("assets/custom/img/speedometr-min.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>

<script>
    return {
        data: function () {
            return {
                formValidator: null,
                contact: null
            }
        },
        methods: {
            showToolbar: function () {
                var self = this;
                setTimeout(function () {
                    self.$('.toolbar').removeClass('toolbar-hidden');
                });
            },
            openLanguageSelector: function () {
                var self = this;
                var languageSelector = app.actions.create({
                    grid: true,
                    buttons: [
                        {
                            label: true,
                            text: i18next.t('change-language')
                        },
                        {
                            icon: '<img src="assets/custom/img/flag-ukraine.svg" alt="" width="48" />',
                            text: i18next.t('ukrainian'),
                            onClick: function () {
                                app.utils.i18n.setLanguage({lang: 'ua', dir: 'ltr'});
                            }
                        },
                        {
                            icon: '<img src="assets/custom/img/flag-united-kingdom.svg" alt="" width="48" />',
                            text: i18next.t('english'),
                            onClick: function () {
                                app.utils.i18n.setLanguage({lang: 'en', dir: 'ltr'});
                            }
                        },

                        {
                            icon: '<img src="assets/custom/img/flag-ukraine.svg" alt="" width="48" />',
                            text: i18next.t('russian'),
                            onClick: function () {
                                app.utils.i18n.setLanguage({lang: 'ru', dir: 'ltl'});
                            }
                        }
                    ]
                });
                languageSelector.open();
            },
            openThemeSelector: function () {
                var self = this;
                var themeSelector = app.actions.create({
                    grid: true,
                    buttons: [
                        {
                            label: true,
                            text: i18next.t('change-theme')
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-red"></i>',
                            text: i18next.t('red'),
                            onClick: function () {
                                app.utils.theme.setColor('red');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-green"></i>',
                            text: i18next.t('green'),
                            onClick: function () {
                                app.utils.theme.setColor('green');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-blue"></i>',
                            text: i18next.t('blue'),
                            onClick: function () {
                                app.utils.theme.setColor('blue');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-pink"></i>',
                            text: i18next.t('pink'),
                            onClick: function () {
                                app.utils.theme.setColor('pink');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-yellow"></i>',
                            text: i18next.t('yellow'),
                            onClick: function () {
                                app.utils.theme.setColor('yellow');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-orange"></i>',
                            text: i18next.t('orange'),
                            onClick: function () {
                                app.utils.theme.setColor('orange');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-gray"></i>',
                            text: i18next.t('gray'),
                            onClick: function () {
                                app.utils.theme.setColor('gray');
                            }
                        },
                        {
                            icon: '<i class="fas fa-3x fa-circle text-color-black"></i>',
                            text: i18next.t('black'),
                            onClick: function () {
                                app.utils.theme.setColor('black');
                            }
                        }
                    ]
                });
                themeSelector.open();
            },
            loadData: function () {
                var self = this;
                app.request.json(
                    'assets/custom/dataset/contact.json',
                    function (data) {
                        if (data) {
                            self.$setState({
                                contact: data
                            });
                        }
                    }
                );
            },
            openPopup: function () {
                var self = this;
                var popup = app.popup.create({
                    el: '.popup-contact',
                    on: {
                        opened: function () {
                            self.initializeFormValidator();
                        },
                        closed: function () {
                            self.formValidator.destroy();
                            document.querySelector('form[name=contact]').reset();
                        }
                    }
                });
                popup.open();
            },
            initializeFormValidator: function () {
                var self = this;
                self.formValidator = jQuery('form[name=contact]').validate({
                    ignore: [],
                    rules: {
                        name: {
                            required: true
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        subject: {
                            required: true
                        },
                        message: {
                            required: true
                        }
                    },
                    messages: {
                        name: {
                            required: 'Please enter name.'
                        },
                        email: {
                            required: 'Please enter email address.',
                            email: 'Please enter a valid email address.'
                        },
                        subject: {
                            required: 'Please enter subject.'
                        },
                        message: {
                            required: 'Please enter message.'
                        }
                    },
                    submitHandler: function (form) {
                        self.submitForm(form);
                    }
                });
            },
            submitForm: function (form) {
                var self = this;
                app.toast.show({
                    text: 'Thank you for writing us. We will get back to you soon.',
                    position: 'bottom',
                    cssClass: 'toast-round bg-color-green'
                });
                app.popup.close('.popup-contact', false);
            }
        },
        on: {
            pageInit: function () {
                var self = this;
                self.loadData();
                self.showToolbar();
            }
        }
    }
</script>